.filter{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid black;
    position: relative;
    gap: 5%;
}
.filter span{
    cursor: pointer;
}
